@model OrdenDeCompra
@{
    ViewData["Title"] = "Crear Orden de Compra";

}

<form asp-action="CrearOrdenDeCompra" method="post" id="crearOrdenForm">
    <div class="form-group">
        <label for="Id">Id de Orden</label>
        <input type="number" id="Id" name="Id" value="@((Model != null) ? Model.Id : "")" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="NumeroDeOrden">Número de Orden</label>
        <input type="text" id="NumeroDeOrden" name="NumeroDeOrden" value="@((Model != null) ? Model.NumeroDeOrden : "")" class="form-control" required />
        @if (ViewData.ModelState.ContainsKey("NumeroDeOrden") && ViewData.ModelState["NumeroDeOrden"].Errors.Any())
        {
            <span class="text-danger">@ViewData.ModelState["NumeroDeOrden"].Errors.First().ErrorMessage</span>
        }
    </div>
    <div class="form-group">
        <label for="Fecha">Fecha</label>
        <input type="date" id="Fecha" name="Fecha" value="@((Model !=null) ? Model.Fecha.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Proveedor">Proveedor</label>
        <input type="text" id="Proveedor" name="Proveedor" value="@((Model !=null) ? Model.Proveedor : "")" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="MontoTotal">Monto Total</label>
        <input type="number" id="MontoTotal" name="MontoTotal" value="@((Model != null) ? Model.MontoTotal : "")" class="form-control" step="0.01" required />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
@section Scripts{
	<script src="~/js/ordendecompra/crear.js"></script>
}