@model List<OrdenDeCompra>
@{
	ViewData["Title"] = "Listado";
}
@section Styles{
	<link href="~/css/OrdenDeCompra/Index.css" rel="stylesheet" />
}

<div class="container-fluid page-content">

	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Listado de órdenes de compras</h1>

		<div class="d-flex gap-2">
			<button id="generarOrdenRandomBtn" class="custom-button-generate d-flex align-items-center me-3">
				<i class="bi bi-lightning me-1 fs-5"></i>Generar Orden
			</button>
			<a class="custom-button-add d-flex align-items-center" asp-area="" asp-controller="OrdenDeCompra" asp-action="Crear"><i class="bi bi-plus-circle me-1 fs-5"></i>Nueva orden de compra</a>
		</div>
	</div>

	<div class="container-fluid d-flex d-column mt-10 table-info">

		<div class="table-responsive w-100 mx-10">
			<div class="search-container mb-3">
				<i class="bi bi-search"></i>
				<input type="text" id="customSearch" class="" placeholder="Buscar" />
			</div>
			@if (Model != null && Model.Any())
			{
				<table class="display" id="OrdenesDeCompras">
					<thead>
						<tr>
							<th>Id</th>
							<th>Número de Orden</th>
							<th>Fecha</th>
							<th>Proveedor</th>
							<th>Monto Total</th>
							<th class="text-center">Estatus</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>

					<tbody>
						@foreach (var orden in Model)
						{
							<tr>
								<td>@orden.Id</td>
								<td>@orden.NumeroDeOrden</td>
								<td>@orden.Fecha.ToString("dd/MM/yyyy")</td>
								<td>@orden.Proveedor</td>
								<td>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", orden.MontoTotal)</td>
								<td class="text-center">
									<div class="d-flex justify-content-center align-items-center">
										<button class="btn @(orden.IsActive ? "btn-activo" : "btn-inactivo") pe-none">
											@(orden.IsActive ? "Activa" : "Inactiva")
										</button>
									</div>
								</td>
								<td class="text-center">
									<div class="dropdown">
										<button class="btn custom-button-option" type="button" id="dropdownMenuButton_@orden.Id" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="bi bi-gear fs-5"></i>
										</button>
										<ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton_@orden.Id">
											<li>
												<a class="dropdown-item d-flex align-items-center" asp-controller="OrdenDeCompra" asp-action="Editar" asp-route-id="@orden.Id">
													<i class="bi bi-pencil-square me-2"></i>Editar
												</a>
											</li>
											<li>
												<form method="post" asp-action="ActivarDesactivarOrden" asp-route-id="@orden.Id" class="activarDesactivarForm">
													<button type="button" class="dropdown-item activarDesactivarBtn d-flex align-items-center"
															data-id="@orden.Id"
															data-status="@(orden.IsActive ? "desactivar" : "activar")">
														<i class="bi bi-@(orden.IsActive ? "x-circle" : "check-circle")  pencil-square me-2"></i>@(orden.IsActive ? "Desactivar" : "Activar")
													</button>
												</form>
											</li>
										</ul>
									</div>



								</td>
							</tr>
						}

					</tbody>
				</table>
			}
			else
			{
				<table class="display" id="OrdenesDeCompras">
					<thead>
						<tr>
							<th>Id</th>
							<th>Número de Orden</th>
							<th>Fecha</th>
							<th>Proveedor</th>
							<th>Monto Total</th>
							<th class="text-center">Estatus</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			}


		</div>

	</div>
</div>
<div id="loader" class="loader-container">
	<div class="loader">
		<div class="spinner"></div>
	</div>
</div>
@section Scripts{
	<script src="~/js/OrdenDeCompra/Index.js"></script>
}